#scroll-nav {
    list-style: none outside none;
    margin: 0;

    @media ( min-width: @screen-md-min ) {
      position: fixed;
      top: 20px;
      padding: 0;
      margin-left: 0;
    }

    li {
      margin-bottom: 0;
    }

    a {
      display: block;
      padding: 5px 10px;
      border-top: 1px dotted @brand-primary;

      &:hover {        
        text-decoration: none;
      }
    }

    .current > a {
      background: @brand-primary;
      color: #fff;

      &:hover {
        text-decoration: none;
      }

    }

    .subnav {
      border-top: 1px dotted @brand-primary;
      padding: 0 0 0 15px;
      list-style: none;

      & li:first-child a {
        border-top: none;
      }
    }

    
}