@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


// Bootstrap Variables
@gray: #666;
@text-color: @gray;
@brand-primary: #555;
@gray-light: #ccc;

@divider-color: fade(@brand-primary, 40%);

@headings-color: darken(@brand-primary, 10% );
@icons-color: lighten(@headings-color, 20% );

@link-color: #1b73b0;
@link-hover-color: lighten(@link-color, 10%);
@link-active-color: darken(@link-color, 10%);

// Navbar links
@navbar-default-link-color:                @link-color;
@navbar-default-link-hover-color:          @link-hover-color;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         lighten(@text-color, 15%);
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @text-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;



// Dropdowns
// -------------------------

@dropdown-bg:                    #fff;
@dropdown-border:                rgba(0,0,0,.15);
@dropdown-fallback-border:       #ccc;
@dropdown-divider-bg:            #e5e5e5;

@dropdown-link-color:            @link-color;
@dropdown-link-hover-color:      @link-hover-color;
@dropdown-link-hover-bg:         #f5f5f5;

@dropdown-link-active-color:     @component-active-color;
@dropdown-link-active-bg:        @component-active-bg;

@dropdown-link-disabled-color:   @gray-light;

@dropdown-header-color:          @gray-light;



@fa-font-path: 'fonts';

@headings-font-family: 'Montserrat', sans-serif;
@font-family-sans-serif:  "Montserrat", Helvetica, Arial, sans-serif;
@headings-font-weight:    500;


@font-size-base: 16px;
@line-height-base:        1.5; // 20/14

@font-size-h1:            floor(@font-size-base * 2.2); // ~36px
@font-size-h2:            floor(@font-size-base * 2); // ~30px
@font-size-h3:            ceil(@font-size-base * 1.5); // ~24px
@font-size-h4:            ceil(@font-size-base * 1.4); // ~18px
@font-size-h5:            ceil(@font-size-base * 1.2);
@font-size-h6:            @font-size-base;

@font-size-lg-h1:            floor(@font-size-base * 5);
@font-size-lg-h2:            floor(@font-size-base * 4);
@font-size-lg-h3:            ceil(@font-size-base * 2.5);
@font-size-lg-h4:            ceil(@font-size-base * 1.8);
@font-size-lg-h5:            ceil(@font-size-base * 1.25);
@font-size-lg-h6:            ceil(@font-size-base * 1);


@btn-primary-bg: @link-color;
@btn-primary-hover-bg: @link-hover-color;
@btn-primary-active-bg: @link-active-color;




