doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title bootstrap
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(app) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    script(src='bower_components/modernizr/modernizr.js')
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    .container
      header.header
        nav
          ul.nav.nav-pills.pull-right
            li.active
              a(href='#') Homey
            li
              a(href='#') About
            li
              a(href='#') Contact
        h3.text-muted Tim Dosé
    .container
      .jumbotron
        h1 Tim Dosé
        ul
          li Web Design!
          li Web Development
    .container
      .row.work-available
        .col-lg-12
          h2 Web Work Available on Request
          p
            | Nearly all of my recent work has been working on internal projects at
            a(href='http://yodle.com') Yodle
            | .
            | I can probably share if you ask, but I can't just leave it out in public.
            | I'm sure you understand...
    .container
      .row.cms3
        .col-lg-12
          h2 Yodle CMS3
          p
            | CMS3 is a microsite publisher optimized for scale, controlled customizability, and AB Testing. This has occupied the all of my recent time at Yodle (and much more of my life outside of work than I care to admit).
          .container.features
            .row
              .col-md-4
                i.fa.fa-arrows-alt.fa-3x
                h4 Built for Scale
                ul
                  li Powers over 11,000 clients in hundreds of industries.
                  li
                    | Mass updates allow nimble fixes and new features even at scale. No one is left in the dust&excl;
                  li Integrates with Yodle's 
              .col-md-4
                i.fa.fa-gears.fa-3x
                h4 Built for (Controlled) Customization
                ul
                  li Modular design system along 4 dimensions: layout, style, font, and color.
                  li Hundreds of possible combinations for a site's look and feel.
                  li Clients can customize logo, photos, and content.
                  li
                    | Clearly defined methods of customization mean the state of any site is always clear and queryable.
              .col-md-4
                i.fa.fa-flask.fa-3x
                h4 Built for Testing
                ul
                  li
                    | Lightweight AB testing via
                    a(href='http://optimizely.com') Optimizely
                  li
                    | Sites can easily be republished with a new feature or theme for more robust AB testing.
                  li Optimizations can be easily rolled out after successful tests.
                  li
                    | Aggregated analytics across all of CMS3 means smaller sites can still benefit from testing despite lower traffic.
          .examples.container
            .row
              h3 CMS3 Example Sites
              .example-sites
                .example-site.col-md-3.col-sm-6
                  img(data-src='holder.js/240x320')
                  .title
                    a(href='#') Example.com
                .example-site.col-md-3.col-sm-6
                  img(data-src='holder.js/240x320')
                  .title
                    a(href='#') Example.com
                .example-site.col-md-3.col-sm-6
                  img(data-src='holder.js/240x320')
                  .title
                    a(href='#') Example.com
                .example-site.col-md-3.col-sm-6
                  img(data-src='holder.js/240x320')
                  .title
                    a(href='#') Example.com
                .example-site.col-md-3.col-sm-6
                  img(data-src='holder.js/240x320')
                  .title
                    a(href='#') Example.com
                .example-site.col-md-3.col-sm-6
                  img(data-src='holder.js/240x320')
                  .title
                    a(href='#') Example.com
                .example-site.col-md-3.col-sm-6
                  img(data-src='holder.js/240x320')
                  .title
                    a(href='#') Example.com
                .example-site.col-md-3.col-sm-6
                  img(data-src='holder.js/240x320')
                  .title
                    a(href='#') Example.com
          .container
            .row
              h3 CMS3 Modular Design System
              .col-md-6
                h4 Layout
                .example-site.col-sm-3.col-xs-6
                  .thumbnail
                    a(href='images/cms3-layout-1.jpg')
                      img(src='images/cms3-layout-1.jpg')
                .example-site.col-sm-3.col-xs-6
                  .thumbnail
                    a(href='images/cms3-layout-2.jpg')
                      img(src='images/cms3-layout-2.jpg')
                .example-site.col-sm-3.col-xs-6
                  .thumbnail
                    a(href='images/cms3-layout-3.jpg')
                      img(src='images/cms3-layout-3.jpg')
                .example-site.col-sm-3.col-xs-6
                  .thumbnail
                    a(href='images/cms3-layout-4.jpg')
                      img(src='images/cms3-layout-4.jpg')
              .col-md-6
                h4 Style
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
              .col-md-6
                h4 Color
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
              .col-md-6
                h4 Fontssss
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
                .example-site.col-sm-3.col-xs-6
                  img(data-src='holder.js/100x120')
          .container
            .row
              h3 For the Geeks
              .technology.col-md-2
                h4 Technology
                ul
                  li
                    a(href='#') HTML5
                  li
                    a(href='#') CSS3
                  li
                    a(href='#') CherryPy
                  li
                    a(href='#') Jinja
                  li
                    a(href='#') LESS
                  li
                    a(href='#') YAML
                  li
                    a(href='#') JSON
              .col-md-10
                h4 How a Page Is Created in CMS3
                a(href='images/cms3-renderer-process.png')
                  img.scale-to-fit(src='images/cms3-renderer-process.png')
      footer.footer
        .contact
          p Tim Dosé
          p
            a(href='tel:+19175755359') 917-575-5359
          p
            a(href='mailto:tim@timdose.com') tim@timdose.com
    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/holderjs/holder.js')
    // endbower
    // endbuild
    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //- script
    //-   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //-   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //-   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //-   e.src='//www.google-analytics.com/analytics.js';
    //-   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //-   ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js(app) scripts/main.js
    script(src='scripts/main.js')
    // endbuild
    // build:js(app) scripts/plugins.js
    script(src='bower_components/bootstrap/js/affix.js')
    script(src='bower_components/bootstrap/js/alert.js')
    script(src='bower_components/bootstrap/js/dropdown.js')
    script(src='bower_components/bootstrap/js/tooltip.js')
    script(src='bower_components/bootstrap/js/modal.js')
    script(src='bower_components/bootstrap/js/transition.js')
    script(src='bower_components/bootstrap/js/button.js')
    script(src='bower_components/bootstrap/js/popover.js')
    script(src='bower_components/bootstrap/js/carousel.js')
    script(src='bower_components/bootstrap/js/scrollspy.js')
    script(src='bower_components/bootstrap/js/collapse.js')
    script(src='bower_components/bootstrap/js/tab.js')
    // endbuild
