include views/mixins.jade

doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title bootstrap
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(app) styles/vendor.css
    // bower:css
    //- link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='bower_components/lightbox2/css/lightbox.css')
    // endbuild
    script(src='bower_components/modernizr/modernizr.js')
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        | <a href="http://browsehappy.com/">upgrade your browser</a>
        | to improve your experience.
    header.header
      .container
        .jumbotron
          h1 Tim Dosé
          ul
            li Web Design
            li Web Development
    .main-content
      section.cms3
        .container.intro
          .row
            .col-lg-12
              p.lead
                | I lead the design and front end development of <a href="http://yodle.com">Yodle's</a>
                | CMS3 project.
              
              h2 Yodle CMS3
              
              p.lead.well
                | CMS3 is a modular microsite publisher optimized for scale, controlled customizability, and AB Testing.
          .row.features
            .feature.col-md-4
              h4.h
                i.fa.fa-arrows-alt.fa-2x
                .text Built for Scale
              ul
                li Powers over 11,000 clients in hundreds of industries.
                li Mass updates allow nimble fixes and new features even at scale. Everybody gets the good stuff!
                li Clearly defined methods of customization mean the state of any site is always clear and queryable.
            .feature.col-md-4
              h4.h
                i.fa.fa-gears.fa-2x
                .text Built for (Controlled) Customization
              ul
                li Modular design system along 4 dimensions: layout, style, font, and color. Each dimension completely interchangeable.
                li Hundreds of possible combinations for a site's look and feel.
                li Clients can customize logo, photos, and content.
            .feature.col-md-4
              h4.h
                i.fa.fa-flask.fa-2x
                .text Built for Testing
              ul
                li Lightweight AB testing via <a href="http://optimizely.com">Optimizely</a>.
                li Sites can easily be republished with a new feature or theme for more robust AB testing.
                li Optimizations can be easily rolled out after successful tests.
                  li Aggregated analytics across all of CMS3 means smaller sites get the benefits of more data points without the actual traffic.
        //- .between
        //- .container.example-sites
        //-   .row
        //-     h3 CMS3 Example Sites
        //-     .example-sites
        //-       each val in [1,2,3,4]
        //-         .example-site.col-md-3.col-sm-6
        //-           img(data-src='holder.js/240x320')
        //-           .title
        //-             a(href='#') Example.com
        .between
        .container.design-system
          .row
            h3 CMS3 Modular Design System
            each component in ['Layout', 'Style', 'Font', 'Color']
              .component.col-md-6
                  h4.h4= component
                  .examples
                    each val in [1,2,3,4]
                      .example.col-sm-3.col-xs-6
                        +thumbnail('images/cms3/components/'+component.toLowerCase()+'/' + val +'.jpg')(lightboxGroup!=component)
        .between
        .geeks.container
          .row
            h3 For the Geeks
            .technologies
              h4 Technologies Used in CMS3
              .col-md-10.col-md-offset-1
                ul.list.well
                  each technology in technologies
                    li.item
                      a(href='#')
                        img.logo(src='images/technology/logos/#{technology.icon}')
            .renderer-process.col-md-12
              h4 How a Page Is Created in CMS3
              a(href='images/cms3/renderer-process.png')
                img.image(src='images/cms3/renderer-process.png')
        .between
    footer.container
      .row
        .contact
          p Tim Dosé
          p
            a(href='tel:+19175755359') 917-575-5359
          p
            a(href='mailto:tim@timdose.com') tim@timdose.com

    #util
      
    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/lightbox2/js/lightbox.js')
    script(src='bower_components/ScrollMagic/js/jquery.scrollmagic.js')
    //- script(src='bower_components/ScrollMagic/js/jquery.scrollmagic.debug.js')
    script(src='bower_components/ScrollMagic/js/_dependent/greensock/TweenMax.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/holderjs/holder.js')
    // endbower
    // endbuild
    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //- script
    //-   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //-   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //-   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //-   e.src='//www.google-analytics.com/analytics.js';
    //-   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //-   ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js(app) scripts/main.js
    script(src='scripts/main.js')
    // endbuild
    // build:js(app) scripts/plugins.js
    //- script(src='bower_components/bootstrap/js/affix.js')
    //- script(src='bower_components/bootstrap/js/alert.js')
    //- script(src='bower_components/bootstrap/js/dropdown.js')
    //- script(src='bower_components/bootstrap/js/tooltip.js')
    //- script(src='bower_components/bootstrap/js/modal.js')
    //- script(src='bower_components/bootstrap/js/transition.js')
    //- script(src='bower_components/bootstrap/js/button.js')
    //- script(src='bower_components/bootstrap/js/popover.js')
    //- script(src='bower_components/bootstrap/js/carousel.js')
    //- script(src='bower_components/bootstrap/js/scrollspy.js')
    //- script(src='bower_components/bootstrap/js/collapse.js')
    //- script(src='bower_components/bootstrap/js/tab.js')
    // endbuild
