@import '/styles/bootstrap-import';
@import '/bower_components/font-awesome/less/font-awesome';
@import '/styles/include/variables';
@import '/styles/include/mixins';
@import 'nav';
@import 'lightbox';

b, strong {
  font-weight: normal;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.scale-to-fit {
  width: 100%;
}


.portrait {
  padding-top: 30px;
  img { 
    width: 100%;
    @media ( min-width: @screen-md-min ) { width: 90%; padding-bottom: 10px;}
  }
}

.headshot {
  img {
    width: 100%;
    border-radius: 50%;
  }
}

.marquee {
  margin-top: 20px;
  height: 110px;
  background: url(/images/identity/icons.png);
  background-position: middle;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
      background: url(/images/identity/icons-2x.png);
      background-size: 1600px 110px;
  }
}


.about-page .image-container {
  width: 1280px;
  height: 3200px;
  background: url(/images/identity/about.png);
  background-position: middle;
  background-repeat: no-repeat;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
      background: url(/images/identity/about-2x.png);
      background-size: 1280px 3200px;
  }
}



.home-page a {
  font-family: @headings-font-family;
}

.navbar-collapse { overflow: hidden; }
.navbar-brand { font-size: 16px; }

h1,h2,h3,h4,h5,h6 {
  text-align: left;
  margin-bottom: 0.6em;
  color: @headings-color;
  font-weight: 400;
  margin-top: 1.2em;
  line-height: 1em;

  .fa {
    color: @icons-color;
  }
}




ul {
  padding-left: 20px;
  margin-bottom: 1.25em;
}

.body li {
  margin-bottom: 0.8em;
  line-height: 1.4em;
}

.body ul.condensed li {
  margin-bottom: 5px;
}

.body li > ul {
  margin-top: .5em;
}


.content {
  h3,h4,h5,h6,
  .h3,.h4,.h5,.h6 {
    margin-top: 1em;
    margin-bottom: .5em;
  }

  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

.lead strong {
  font-weight: 600;
}

.lead small {
  display: block;
  font-size: 70%;
  margin-top: 16px;
}

.thumbnail {
  height: 150px;
  overflow: hidden;
}


.btn-primary:hover { background: @btn-primary-hover-bg; }
.btn-primary:active { background: @btn-primary-active-bg; }

.headerContainer {
  // background: #3B96FF;
  // padding-bottom: 30px;
}

.header {
    

    .heading {
      color: @headings-color;
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 0;
      line-height: .8em;
      @media ( min-width: @screen-md-min ) { 
        font-size: 60px; 
        padding-left: 0;
        margin-top: 60px;
      }

    }

    .title {
      font-size: 20px;
      line-height: 1.5em;
      font-family: @headings-font-family;
      @media ( min-width: @screen-sm-min ) { font-size: 24px; }
    }

    .lead {
      color: #555;
      font-family: @headings-font-family;
      line-height: 1.5em;
      @media ( min-width: @screen-sm-min ) { font-size: 20px; }
      font-size: 20px;
      margin-bottom: 0;

      p {
        margin-bottom: 0;
      }
    }
}

.main-content {  
  h2 {
    border-bottom: 1px solid @divider-color;
    padding-bottom: 15px;
    margin-bottom: 35px;
    margin-top: 40px;
  }
}

.between {
  height: 40px;
  width: 100%;
  .hidden-xs;
}

#skills {
  ul {
    margin-bottom: 30px;
  }
}

section .container {
  padding-top: 30px;
  padding-bottom: 60px;  
}

.features {
  padding-top: 15px;

  .h {
    text-align: center;
  }
  .feature {
    margin-bottom: 45px;
  }

}

#example-sites {
  .site {
    text-align: center;
    margin-bottom: 30px;
  }
  .thumbnail {
    margin-bottom: 7px;
  }
}

#design-system {
  .examples {
    background: #f2f2f2;
    .clearfix();
    padding: 10px;
    margin-bottom: 45px;
  }
  .example {
    padding: 5px;
    .thumbnail {
      width: 100%;
      height: 120px;
      overflow: hidden;
      margin: 0 auto;

      @media (min-width: @screen-md-min) {
        height: 150px;
      }
    }
    img {
      .scale-to-fit;
    }
  }
}



#geeks {
    .explanation {
      margin-bottom: 45px;
    }

    .technologies {
      .list {
        text-align: center;
        padding: 0;
        background: #f2f2f2;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 45px;
      }

      .item {
        display: inline-block;
        margin: 0 10px;
      }

      .logo {
        width: 100%;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }

    .renderer-process {
      .image {
        border: 1px solid @gray-dark;
        .scale-to-fit();
      }
    }
}



.project-collection {
  .project {
    display: block;
    margin-bottom: 40px;
    overflow: hidden;
    color: @link-color;
    @media ( min-width: @screen-sm-min ) { height: 220px; }
    @media ( min-width: @screen-md-min ) { height: 290px; }
    
    &:hover { 
      text-decoration: none;
      color: @link-hover-color;
    }

    &:active {
    }

    .thumb-wrapper {
      width: 100%;
      overflow: hidden;
      position: relative;
      max-height: 120px;
      margin-bottom: 15px;
      border: 1px solid #aaa;
      display:none;
      @media ( min-width: 500px ) { display: block; }
      @media ( min-width: @screen-sm-min ) { max-height: 120px; }
      @media ( min-width: @screen-md-min ) { max-height: 170px; height: 170px; }
      @media ( min-width: @screen-lg-min ) { max-height: 200px; height: 200px; }
    }

    .thumb {
      width: 100%;
    }

    .screen {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 500px;
      background: rgba(255,255,255,0);
    }

    &:hover .screen {
      background: rgba(255,255,255,.25);
    }

    &:active .screen {
      background: rgba(0,0,0,.1);
    }

    .title {
      display: block;
      font-family: @headings-font-family;
      font-size: 18px;
      line-height: .9em;
      margin-top: 11px;
      margin-bottom: 10px;
      color: @link-color;


      i {
        font-size: 13px;
        padding-left: 5px;
      }
    }

    .blurb {
      line-height: 1.1em;
      font-size: 16px;  
      color: @text-color;
    }

    a {
      color: #fff;
    }
  }

}



.footer {
    margin-top: 50px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 30px;
    background: @brand-primary;
    color: #fff;

    a, a:hover {
      color: #fff;
    }
}


.home-page {
  overflow: hidden;
  font-size: 50px;

  .title {
    position: absolute;
    right: 0;
    color: #000;
    .hidden-xs;
  }

  .title.right {
    right: auto;
    left: 0;
    color: #fff;
  }

  .mobile-title {
    position: absolute;
    width: 100%;
    height: 470px;
    line-height: 470px;
    font-size: 52px;
    top: 0;
    margin-top: 0;
    z-index: 1;
    pointer-events: none;

    &.top {
      clip: rect(0, auto, 240px, 0);
      color: #000;
      @media ( min-width: @screen-sm-min ) { 
        clip: rect(0, 200px, auto, 0);
      }
    }

    &.btm {
      clip: rect(240px, auto, auto, 0);
      color: #fff;
      @media ( min-width: @screen-sm-min ) { 
        clip: rect(0, auto, auto, 500px);
      }
    }

    @media ( min-width: @screen-sm-min ) { 
      display: none;
    }
  }

  .role {
    position: relative;
  }

  .ux {
    background: #fff;
    a {
      color: #000;
    }
  }

  .fine-art {
    background: #000;
    padding-bottom: 99999px;
    margin-bottom: -99999px;

    a { color: #fff; }
  }

  .col {
    padding-top: 100px;
  }

  a {
    display: block;
    height: 240px;
    line-height: 240px;

    @media ( min-width: @screen-sm-min ) { 
      height: 440px;
      line-height: 440px;
    }
  }
}


.project-page {
  .hero-wrapper {
    width: 100%;
    max-height: 300px;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  .rail {
    padding-top: 25px;
  }

  .hero {
    display: none;
    border: 1px solid #ccc;
    width: 100%;
    @media ( min-width: @screen-sm-min ) {
      display: block;
    }
  }


  .thumb-wrapper {
    height: 120px;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid #ccc;

    @media ( min-width: 450px ) { height: 200px; }
    @media ( min-width: 600px ) { height: 250px; }
    @media ( min-width: @screen-sm-min ) { height: 170px; }
    @media ( min-width: @screen-md-min ) { height: 200px; }
  }

  .thumb-wrapper.private {
    position: relative;
    background: url(/assets/img/overlay-pattern.png);
  }

  .private .message {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    font-size: 18px;

    .icon {
      font-size: 30px;
      display: inline;
      vertical-align: middle;
    }

    .text {
      display: inline;
      vertical-align: middle;
      line-height: 1em;
    }

    .action {
      .btn-sm;
    }
  }


  .col-xs-12 .thumb-wrapper {
    height: auto;

  }

  .thumb {
    width: 100%;
  }


  .private .thumb {
    opacity: .1;
  }


}

.image-viewer {
  .image {
    cursor: zoom-out;
  }

  .image.fit-in-window {
    max-width: 100%;
    cursor: zoom-in;
  }
}

.media-query-sniff {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .5
}