script.
  var _mfq = _mfq || [];
  (function () {
    var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
    mf.src = "//cdn.mouseflow.com/projects/07f9ec2b-6cf2-45b5-8610-4554e1920bdd.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();

script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-945653-1', 'auto');
  ga('send', 'pageview');

script.
  $('#resumeButton').on('click', function() {ga('send', 'event', 'UX', 'click', 'Resume Download');});