mixin thumbnail(big, small, title)
  - if (small == undefined )
    - small = big.replace('.jpg','.th.jpg').replace('.png', '.th.png');
  .thumbnail
    a(href='#{big}', data-lightbox!=attributes.lightboxGroup, title=title?title:null)
      img(src='#{small}')