nav.navbar.navbar-default(role="navigation")
  .container
      .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') TimDose.com
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active: a(href='/ux') Home
            li: a(href='/ux/about') About
            li: a(href='/ux/resume') Resume 
              i.fa.fa-download
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Projects
                span.caret
              ul.dropdown-menu(role='menu')
                li: a(href='/ux/projects/yodle-com') Yodle.com
                li: a(href='/ux/projects/yodle-self-signup') Yodle Self Signup
                li: a(href='/ux/projects/yodle-cms3') Yodle CMS3

