doctype html

<html>
<head>
<title>Art by Tim Dose</title>
<link rel="stylesheet" href="/assets/styles/styles.css" type="text/css" media="screen">


<link rel="stylesheet" type="text/css" href="/bower_components/shadowbox/shadowbox.css">
<script type="text/javascript" src="/bower_components/shadowbox/shadowbox.js"></script>

script.
  Shadowbox.init( { players:['img', 'swf'], displayCounter: false } );



// <? include('../templates/analytics.php') ?>

</head>

<body>

block body

</body>
</html>