doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    title Art by Tim Dosé

    link(rel='stylesheet', href='/bower_components/shadowbox/shadowbox.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/styles/styles.css')
    block styles
      //- custom styles

    //- include include/analytics
    script(src='/bower_components/modernizr/modernizr.js')

  body
    block body
    
    script(src='/bower_components/shadowbox/shadowbox.js')
    script.
      Shadowbox.init( { players:['img', 'swf'], displayCounter: false } );
    block scripts

    include include/analytics