doctype html

<html>
<head>
<title>Art by Tim Dose</title>
<link rel="stylesheet" href="/assets/styles/styles.css" type="text/css" media="screen">


<link rel="stylesheet" type="text/css" href="/assets/styles/shadowbox.css">
<script type="text/javascript" src="/bower_components/shadowbox/shadowbox.js"></script>

script.
  Shadowbox.init( { players:['img', 'swf'], displayCounter: false } );



// <? include('../templates/analytics.php') ?>

</head>

<body>

#wrapper
  #Header
    #Logo
      a(href="/") timdose.com
    #Pages [NAV]
      //- <? include( 'pages.php' ) ?>
  
  #Content
    #ContentLeft.content
      #sectionLinks
        each section in [{page:'paintings', image:'nat-kathrin', title: 'paintings'}, {page:'drawings', image:'syracuse', title: 'drawings'}]
          .sectionLink
            a(href=section.page)
              img(src='/assets/images/art/'+section.image+'_th.jpg')
            p: a(href=section.page)=section.title
              //- <a href="<?= $section['page'] ?>"><img src="../images/<?= $section['image'] ?>_th.jpg" alt="<?=$section['title'];?>"></a>
              //- <p><a href="<?= $section['page'] ?>"><?= $section['title'] ?></a></p>

    #ContentCenter.content
      #mainContent
        #Portfolios
          each images, title in {landscape:['syracuse', 'BlackHillsPine'], portrait:['nat-kathrin', 'raven']}
            // <? foreach( $portfolios as $portfolio_name => $portfolio_images ): ?>
            h2.portfolioName= title
            each image in images
              span
                a(href='/assets/images/art/'+image+'.jpg',rel='shadowbox['+title.replace(' ','_')+']')
                  img(src='/assets/images/art/'+image+'_th.jpg')
//-               <? foreach( $portfolio_images as $key => $image ): ?>
//-               <span>
//-               <?
//-                 $title = '';
//-                 if ( $image['title'] != '' ) $title .= $image['title'];
//-                 if ( $image['medium'] != '' ) $title .= $image['medium'];
//-                 if ( $image['dimensions'] != '' ) $title .= $image['dimensions'];
//-               ?>
//-               <? if( $image['extension'] == '.swf' ): ?>
//-                     <a href="../images/<?= $image['filename']; ?><?= $image['extension']; ?>" onClick="_gaq.push(['_trackEvent', 'Images','ViewViaClick','<?= $image['filename']; ?>']);" rel="shadowbox[<?= str_replace( ' ', '_', $portfolio_name );?>];width=900" title="<?=$title?>">
//-                   <? else: ?>
//-                     <a href="../images/<?= $image['filename']; ?><?= $image['extension']; ?>" onClick="_gaq.push(['_trackEvent', 'Images','ViewViaClick','<?= $image['filename']; ?>']);" rel="shadowbox[<?= str_replace( ' ', '_', $portfolio_name );?>]" title="<?= $title?>">
//-                   <? endif; ?>
//-                       <img src="../images/<?= $image['filename']; ?>_th.jpg" alt="<?=$title?>" />
//-                     </a>

//-               </span>
//-               <? endforeach; ?>

//-           <? endforeach; ?>
    

//-   <? include( '../templates/footer.php' ); ?>

</body>
</html>