ul#scroll-nav
  li: a(href='#skills').section Skills
  li
    a(href='#cms3').section CMS3
    ul.subnav
      li: a(href='#design-system').subsection Design System
      li: a(href='#example-sites').subsection Example Sites
      li: a(href='#geeks').subsection For the Geeks
  li: a(href='#design') Design