extends include/layouts/default

block header
  header.header
    .row
      .col-xs-8
        h1.heading Tim Dosé
        p.title UX Designer/Developer
        p.lead!= about.blurb

block body

  .main-content
    section#projects    
      .row
        .col-xs-12
          h2 Projects
      .row
        .col-xs-12
          ul.big-n-fancy
            li: a(href='/ux/projects/yodle-com') Yodle.com
            li: a(href='/ux/projects/cms3') Yodle CMS3

    section#design
      #intro
        .row
          .col-xs-12
            h2 Design
      #cms3-design
        .row
          .col-xs-12
            h3 CMS3 Redesign Wireframes
            p.lead.
              Proposed redesign for Yodle's CMS3 websites.
          each image in app.cms3RedesignImages
            .col-md-3.col-sm-6
              +thumbnail(image.image, image.thumbnail)(lightboxGroup="cms3-redesign")

      #flows
        .row
          .col-xs-12
            h3 Various Process and User Flows
          each image in app.flows
            .col-md-3.col-sm-6
              +thumbnail(image.image, image.thumbnail, image.description)(lightboxGroup="flows")
