extends include/layouts/default

block header
  header.header
    .row
      .col-sm-8
        h1.heading Tim Dosé
        p.title UX Designer/Developer
        p.lead!= about.blurb
      .col-sm-4
        img(src="/images/illustration/portrait.png")

block body

  .main-content
    section#projects    
      .row
        .col-xs-12
          h2 Projects
      .row
        .col-xs-12
          .project-collection
            each project in projects
              .project
                  a(href='/ux/projects/' + project.name)
                    span.title=project.title
                    span.blurb=project.blurb

    .between
    section#about
      .row
        .col-xs-12
          h2 About
      .row
        .col-sm-3
          img(src="/images/illustration/portrait.png")
        .col-sm-9
          p.
            Lorem ipsum Laboris nulla non dolor nostrud exercitation ea est est velit in incididunt consectetur dolor enim magna incididunt enim labore et quis non nostrud eiusmod culpa incididunt veniam id exercitation cillum nulla dolor aliqua sed dolore dolor irure in dolore dolor nulla et occaecat laboris dolor in aliqua veniam sint dolore dolore id proident sit incididunt labore qui consequat aliquip cupidatat enim incididunt culpa dolor dolore proident laborum enim voluptate commodo ad commodo Duis elit.
          .more
            a(href='#') Read More >
