extends include/layouts/default-ux

block header
  header.header
    .row
      .col-sm-4.col-sm-push-8.col-xs-4.col-lg-3.portrait
        img(src='/images/illustration/portrait.png')
      .col-sm-8.col-sm-pull-4.col-xs-12.col-lg-pull-3
        h1.heading Tim Dosé
        p.title Product &amp; UX Design
        .lead!= md(about.blurb)

block body
  .main-content
    section#projects    
      .row.heading
        .col-sm-12
          h2 Work
      .row
        .project-collection
          each project in activeProjects
            .col-sm-4.col-xs-6
              a.project(href='/ux/projects/' + project.name)
                .thumb-wrapper
                  img.thumb(src='/images/projects/' + project.name + '/' + project.image.thumbnail)
                  .screen
                div.title
                  span=project.title
                  //- i.fa.fa-chevron-right
                div.blurb=project.blurb

    section#about
      .row.heading
        .col-xs-12
          h2 About
      .row
        .col-sm-3.hidden-xs.headshot
          img(src="/images/photos/headshot.jpg")
        .col-sm-9
          .content!= md(about.intro)
          a#resumeButton.active.btn.btn-lg.btn-primary(href="/ux/resume") Download my resume
          //- .more
          //-   a(href='/ux/about') Read More 
          //-     span.fa.fa-angle-right
  
  //- .media-query-sniff
    .visible-xs xs
    .visible-sm sm
    .visible-md md
    .visible-lg lg

