extends include/layouts/default

block header
  header.header
    .row
      .col-sm-8
        h1.heading Tim Dosé
        p.title UX Designer/Developer
        p.lead!= about.blurb
      .col-sm-4
        img(src="/images/illustration/portrait.png")

block body

  .main-content
    section#projects    
      .row
        .col-xs-12
          h2 Projects
      .row
        .col-xs-12
          .project-collection
            each project in projects
              .project
                  a(href='/ux/projects/' + project.name)
                    span.title=project.title
                    span.blurb=project.blurb

    .between
    section#about
      .row
        .col-xs-12
          h2 About
      .row
        .col-sm-3
          img(src="/images/illustration/portrait.png")
        .col-sm-9
          p!= md(about.intro)
          .more
            a(href='/ux/about') Read More >
