extends include/layouts/default

block body
  section#yodle-com
    #intro
      .row
        .col-lg-12
          h2 Yodle Self Signup
          
          p.lead.well
            | blah
          p.lead.
            I led the <strong>design</strong> and <strong>interaction design</strong> for Yodle's Self Signup project.
          

